.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
.user-name{
	margin-right: 20px;
	font-weight: bold;
	font-size: 20px;
}
.add-button{
	background-color: #381932;
	color: white;
	padding: 10px 20px;
	margin: 20px;
	border: 1px solid #FFF3E6;
	border-radius: 4px;
	cursor: pointer;
}
.action-button{
	background-color: #381932;
	color: white;
	padding: 10px 20px;
	margin: 5px;
	border: 1px solid #FFF3E6;
	border-radius: 4px;
	cursor: pointer;
}
.search-bar {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #381932;
  border-radius: 4px;
  width: 350px;
}
.table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

.table th, .table td {
	border: 1.5px solid black;
	padding: 8px;
	text-align: left;
}

.table th {
	background-color: #381932;
	color: #FFF3E6;
}